.lyf-card{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.lyf-card-title{
    width: 100%;
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.lyf-card-content{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
}
.lyf-row1{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: '100%';
    width: '100%';
    display: flex;
}
.lyf-row2{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: '100%';
    width: '100%';
    display: flex;
}
.lyf-col1{
    height: 100%; 
    width: 100%; 
    background-color: #ccc;
    padding: 0; 
    margin: 0;
    display: block;
    border: 1px solid white;
}
.lyf-col2{
    height: 100%; 
    width: 50%; 
    background-color: #ccc;
    padding: 0; 
    margin: 0;
    display: block;
    border: 1px solid white;
}
.lyf-col3{
    height: 100%; 
    width: 33.33%; 
    background-color: #ccc;
    padding: 0; 
    margin: 0;
    display: block;
}